{% extends "base-front.html.twig" %}

{% block title %}
    Erreur paiement
{% endblock %}

{% block body %}
    {{ render(path('temp', {max: 3})) }}
<h1>Thanks for attempted your order!</h1>
<p>
    We appreciate your business!
    Payment failed :(
    <a href="mailto:orders@example.com">failures@example.com</a>.
</p>
    {{ include('front_office/footer.html.twig') }}
{% endblock %}