<h3>Voici le QRcode de votre réservation</h3>

Bonjour {{ name }} ,

Prenez ce QRcode avec vous le jour du plan {{ nomEvent }}.


Merci et bonne chance.
<img src="{{ img }}" width="100" height="100">
