

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div style="position: center" class="col-xl-12">
                <div style="position: center" class="card-box">
                <div id="div_chart" style="position: center">
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    {{ gc_draw(piechart, 'div_chart') }}
                </script>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>