{% extends 'base-back.html.twig' %}


{% block body %}

    {{ render(path('notification', {max: 3})) }}
    {{ include('Dashboard/leftsideBar.html.twig') }}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
    <h1>Create new Article</h1>

<div class="col-xl-6">
    <div class="card-box">

    {{ include('article/_form.html.twig') }}
    </div>

</div>
    <a href="{{ path('article_index') }}">back to list</a>
        </div>
    </div>
</div>
{% endblock %}
