{% extends 'base-back.html.twig' %}

{% block title %}Réinisialisation du mot de passe{% endblock %}

{% block body %}


<form method="post">

    <body>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1070159566516-m32r7ro0mb262ptd8s0hdf61kuln59vu.apps.googleusercontent.com">

    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class="text-center">
            <a href="index.html" class="logo"><span>ENER<span>GYM</span></span></a>
            <h5 class="text-muted m-t-0 font-600">Welcome to our WebSite</h5>
        </div>
        <div class="m-t-40 card-box">
            <div class="text-center">
                <h4 class="text-uppercase font-bold m-b-0">Réinisialisation du mot de passe</h4>
            </div>
            <div class="p-20">
                <form method="post">

                    <label for="inputPassword" class="">Nouveau mot de passe*</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <br>
                    <input type="password" name="confirmPass" id="inputconfirmPass" class="form-control" placeholder="confirmPass" required>
                    <input type="hidden" name="token" value="{token}">
                    <div class="text-center mt-2">
                        <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light"  type="submit">
                            Envoyer !
                        </button>
                    </div>
                </form>        </div>
        <!-- end card-box-->



    </div>

    </body>
{% endblock %}
